workflows/acl-new-lead-notify.json
{
  "name": "ACL New Lead Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "acl/new-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "acl-new-lead"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-node",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, 180]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "lead_id",
              "name": "lead_id",
              "value": "={{ $json.body.lead_id ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "name",
              "name": "name",
              "value": "={{ $json.body.name ?? 'No name provided' }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.email ?? 'No email provided' }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ $json.body.phone ?? 'No phone provided' }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body.message ?? 'No message' }}",
              "type": "string"
            },
            {
              "id": "brand_slug",
              "name": "brand_slug",
              "value": "={{ $json.body.brand_slug ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.body.source ?? 'direct' }}",
              "type": "string"
            },
            {
              "id": "submitted_at",
              "name": "submitted_at",
              "value": "={{ $json.body.submitted_at ?? $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-node",
      "name": "Extract Lead Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 420]
    },
    {
      "parameters": {
        "sendTo": "dalvarez@sotsvc.com",
        "subject": "=🔔 New Lead — {{ $json.name }} ({{ $json.brand_slug }})",
        "emailType": "text",
        "message": "=NEW LEAD RECEIVED\n\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nPhone: {{ $json.phone }}\nBrand: {{ $json.brand_slug }}\nSource: {{ $json.source }}\n\nMessage:\n{{ $json.message }}\n\n---\nLead ID: {{ $json.lead_id }}\nSubmitted: {{ $json.submitted_at }}\nDashboard: https://ai-command-lab.netlify.app/dashboard/leads",
        "options": {}
      },
      "id": "gmail-node",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [440, 420],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_ME",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Lead Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead Fields": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
